{% extends 'base.html.twig' %}

{% block title %}Kyrii — L’univers manga à portée de main{% endblock %}

{% block body %}
<main>
<section>
    <h1 class="text-2xl text-center mt-10">Kyrii — L’univers manga à portée de main</h1>
    <h2 class="text-xl text-center mt-10">Plonge dans l’univers du manga</h2>

</section>
</main>
{% endblock %}
