{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="flex justify-center">
            <p>You are logged in as {{ app.user.userIdentifier }}, <a href="{{ logout_path() }}">Logout</a></p>
        </div>
    {% endif %}
{% endblock %}
